   #dog{
    width: 25rem;
    border: 2px solid black;
    border-radius: 1.5625rem;
    padding: 0.625rem;
margin: 0.625rem;
background-color: antiquewhite;
display: inline-block;
flex-wrap:wrap;
display-wrap:wrap;



        



}
#photo{
    width: 23.125rem;
    border-radius: 1.5625rem;
    height: 21.875rem;
    margin-left: 0.8125rem;

   

}
#dog:hover{
box-shadow: 3px 3px 8px black;
background-color: pink;

}
#photo:hover{
    box-shadow: 3px 3px 8px black;
}
#cat{
        width: 25rem;
    border: 2px solid black;
    border-radius: 1.5625rem;
    padding: 0.625rem;
margin: 0.625rem;
background-color: antiquewhite;
display: inline-block;
    flex-wrap:wrap;
    display-wrap:wrap;

}
img{
        width: 23.125rem;
    border-radius: 1.5625rem;
    height: 21.875;
    margin-left: 0.8125rem;
}
#img:hover{
    box-shadow: 3px 3px 8px black;

}
#cat:hover{
   box-shadow: 3px 3px 8px black;
background-color: pink; 
}
